<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/31%EA%B0%95_%ED%95%A8%EC%88%98_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 31강 - 함수 기본

## 함수와 관련된 용어 정리

* 함수를 사용한다 = 함수 호출 = function call

* 함수 괄호에 넣는 함수의 목적어들 = 매개 변수

* 함수의 결과 = 리턴값

## 함수의 기본 형태

In [1]:
# 함수 선언
def 함수이름() :
  pass
  # 로직

In [3]:
# 함수 호출
함수이름()

* 조건문의 의의 : 실행을 한다 or 안한다
* 반복문의 의의 : 같은 곳을 여러 번 실행한다
* 함수의 의의 : 실행을 다른 곳으로 확 이동해버린다

## 매개 변수 만들기

In [6]:
# 함수 선언
def 함수이름(매개변수1, 매개변수2, 매개변수3, 매개변수4) :
  print("Hello : " + str(매개변수1))
  print("Hello : " + str(매개변수2))
  print("Hello : " + str(매개변수3))
  print("Hello : " + str(매개변수4))

In [7]:
# 함수 호출
함수이름(1, 2, 3, 4)

Hello : 1
Hello : 2
Hello : 3
Hello : 4

In [8]:
# 함수 호출
함수이름(111, 222, 3, 4444)

Hello : 111
Hello : 222
Hello : 3
Hello : 4444

## 리턴 : 왔던곳으로 돌아감

In [11]:
# 함수 선언
def 함수이름(매개변수1, 매개변수2, 매개변수3, 매개변수4) :
  print("Hello : " + str(매개변수1))
  print("Hello : " + str(매개변수2))
  return
  print("Hello : " + str(매개변수3))
  print("Hello : " + str(매개변수4))

In [12]:
# 함수 호출
함수이름(111, 222, 3, 4444)

Hello : 111
Hello : 222

In [13]:
# 함수 선언
def 함수이름(매개변수1, 매개변수2, 매개변수3, 매개변수4) :
  print("Hello : " + str(매개변수1))
  print("Hello : " + str(매개변수2))
  return 1
  print("Hello : " + str(매개변수3))
  print("Hello : " + str(매개변수4))

In [14]:
# 함수 호출
print(함수이름(111, 222, 3, 4444))

Hello : 111
Hello : 222
1