<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/34%EA%B0%95_%EB%A6%AC%ED%84%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 34강 - 리턴

## 리턴 키워드 복습

* return - 왔던곳 돌아가는 키워드

* 함수의 결과 = 리턴된 값 = 리턴값

* 아무 것도 리턴 안 하면 None을 출력

## 함수를 사용하는 기본 형태

In [1]:
def 함수(매개변수) :
  변수 = 초깃값
  return 리턴값

In [2]:
# start ~ end 까지 있는 모든 정수를 더하는 함수

def sum_all(start, end) :
  value = 0
  for i in range(start, end + 1) :
    value += i
  return value


print(sum_all(1, 100))

5050

## 확인문제 1번

## 확인문제 2번

In [3]:
def mul(*value) : 
  pass

print(mul(5, 7, 9, 10))
print(3150)

None
3150

In [5]:
def mul(*value) : 
  sum_value = 1

  for i in value :
    sum_value *= i

  return sum_value

print(mul(5, 7, 9, 10))

3150