<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/35%EA%B0%95_%EC%9E%AC%EA%B7%80%ED%95%A8%EC%88%98%EC%99%80_%EB%A9%94%EB%AA%A8%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 35강 - 재귀함수와 메모화

* 조기 리턴

## 팩토리얼의 정의

* n!
* 3! = 3 * 2 * 1

* n! = 1 * 2 * ... * (n-2) * (n-1) * n

In [3]:
def factorial_1(n) :
  변수 = 1

  for i in range(1, n + 1) :
    변수 *= i

  return 변수

print(factorial_1(10))

3628800

* n! = n * (n - 1)!
* 0! = 1

In [8]:
i = 1

def factorial_2(n) :
  if n == 0 :
    return 1
  else :
    return n * factorial_2(n - 1)

print(factorial_2(10))

3628800

## 재귀 함수의 문제

* f(1) = 1
* f(2) = 1
* f(n) = f(n - 1) + f(n - 2)

In [17]:
def f(n) :
  if n == 1 or n == 2 :
    return 1
  else :
    return f(n - 1) + f(n -2)
  
print(f(1))
print(f(2))
print(f(3))
print(f(4))
print(f(5))

1
1
2
3
5

In [18]:
val = [f(i) for i in range(1, 5 + 1) ]

print(val)

[1, 1, 2, 3, 5]

In [19]:
counter = 0

def f(n) :
  global counter
  counter += 1

  if n == 1 or n == 2 :
    return 1
  else :
    return f(n - 1) + f(n -2)

print(f(40))
print(counter)

102334155
204668309

* 계산이 너무 많이 실행됨

## 메모화(memoization)

* 한번 계산했던것은 계산하지 않음!!!

In [20]:
메모 = {
    1: 1, 
    2: 1
}

In [21]:
def f(n) :
  if n in 메모 : 
    return 메모[n]
  else :
    output = f(n - 1) + f(n - 2)
    메모[n] = output

    return output

print(f(40))

102334155

* 레퍼런스 변수는 global 입력하지 않아도 됨

## 조기 리턴

* 조기에 리턴해서 이후 함수 실행을 차단하는 기술 = 조기 리턴

In [23]:
def f(n) :
  if n in 메모 : 
    return 메모[n]
  output = f(n - 1) + f(n - 2)
  메모[n] = output
  return output

print(f(40))

102334155