<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/36%EA%B0%95_%ED%95%A8%EC%88%98%EB%A5%BC_%EC%82%AC%EC%9A%A9%ED%95%98%EB%8A%94_%EC%B6%94%EA%B0%80%EC%A0%81%EC%9D%B8_%EC%9D%B4%EC%9C%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 36강 - 함수를 사용하는 추가적인 이유

## 확인문제 1번

리스트 평탄화(flatten)
* 중첩된 리스트가 있을 때 중첩을 모두 제거하고 풀어서 1차원 리스트로 만드는 것

In [3]:
def flatten(data) :
  pass

example = [[1, 2, 3], [4, [5, 6]], [7, [8, 9]]]
print("원본 : ", example)
#print("변환 : ", flatten(example))
print("변환 : [1, 2, 3, 4, 5, 6, 7, 8, 9]")

원본 :  [[1, 2, 3], [4, [5, 6]], [7, [8, 9]]]
변환 : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
flatten_data = []

def flatten(data_list) :
  # print("data_list", end = " : ")
  # print(data_list)

  for data in data_list :
    # print("data", end = " : ")
    # print(data)

    if type(data) is int :
      # print("append_int")
      flatten_data.append(data)
    elif type(data) is str :
      # print("append_str")
      flatten_data.append(int(data))
    elif type(data) is list :
      flatten(data)

  # print("flatten_data", end = " : ")
  # print(flatten_data)
  return flatten_data

example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
def flatten(data) :
  output = []
 
  for item in data :
    if type(item) is int :
      output.append(item)
 
    elif type(item) is list :
      output += (flatten(item))
 
  return output

example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
def flatten(data) :
  output = []
 
  for item in data :
    if type(item) is int :
      output.append(item)
 
    elif type(item) is list :
      output.append(flatten(item))
 
  return output

example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

## 조금 더 알아보기

### 코드에 이름 붙이기

In [65]:
# 주석을 생활화

In [66]:
# 의미 있는 함수명칭

### 코드 유지보수

In [67]:
# 고정정으로 사용하는 값은 변수로 선언

In [68]:
# 반복되는 작업은 함수로 선언하여 사용