<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/37%EA%B0%95_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 37강 - 튜플

## 튜플 개요

* 리스트와 유사한 자료형

튜플이 리스트와 다른 기본적인 부분
* 대괄호가 아니라 소괄호로 선언
* 한번 선언하면 값을 변경할 수 없음

## 튜플 만들기 : 소괄호 사용

In [1]:
a = (1, 2, 3, 4)

In [2]:
print(a[0])

1

In [3]:
print(a[2])

3

* 튜플은 값을 변경할 수 없음

In [4]:
a[0] = 10

TypeError: ignored

## 튜플을 사용하는 경우(1) : 복합할당

In [21]:
[a, b] = [10, 20]
(c, d) = (30, 40)

In [22]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [16]:
print(a, b, c, d)

10 20 30 40

* 괄호가 없어도 튜플로 인식될 수 있다면 튜플

In [17]:
e, f = (50, 60)

In [18]:
print(e, f)

50 60

In [20]:
print(type(e))
print(type(f))

<class 'int'>
<class 'int'>

In [9]:
e = 100

In [10]:
c = 100

## 튜플을 사용하는 경우(2) : 스왑

In [11]:
a, b = 10, 20

print(a, b)
# 스왑
a, b = b, a
print(a, b)

10 20
20 10

## 튜플을 사용하는 경우(3) : 튜플을 리턴하는 함수

In [13]:
a, b = 97, 40

divmod(a, b)

(2, 17)

In [14]:
type(divmod(a, b))

tuple

In [23]:
for i, value in enumerate([1, 2, 3, 4, 5, 6]) :
  print("[] :  {}".format(i, value))

[] :  0
[] :  1
[] :  2
[] :  3
[] :  4
[] :  5

## 요소를 하나 갖는 튜플

In [24]:
type([273])

list

In [25]:
type((273))

int

In [26]:
type((273,))

tuple

In [27]:
a = (273, )

In [28]:
a[1]

IndexError: ignored

## 튜플과 관련된 사족들 : 알면 구문 이해에 좋음

In [29]:
a = {
    숫자 :O
    문자 :O
    불 :O
    리스트 : XXX
    튜플 : O

}

SyntaxError: ignored

In [31]:
a = {
    (0,0): 10,
    (0,1): 20,
    (1,0): 30,
    (1,1): 40
}

In [32]:
print(a)

{(0, 0): 10, (0, 1): 20, (1, 0): 30, (1, 1): 40}

In [33]:
a = {
    [0,0]: 10,
    [0,1]: 20,
    [1,0]: 30,
    [1,1]: 40
}

TypeError: ignored

* 튜플은 키로 올 수 있음

In [36]:
print(a[(0, 0)])

10

In [37]:
print(a[0, 0])

10