<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/38%EA%B0%95_%EC%BD%9C%EB%B0%B1%ED%95%A8%EC%88%98%EC%99%80_%EB%9E%8C%EB%8B%A4%2C_map()_filter()_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 38강 - 콜백함수와 람다, map()/filter() 함수

## 콜백함수

In [1]:
def call_10_times(func) :
  for i in range(10) :
    func()


def print_hello() :
  print("Hello")

In [2]:
call_10_times(print_hello)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## 콜백함수의 매개변수

In [6]:
def call_10_times(func) :
  for i in range(10) :
    func(i)


def print_hello(number) :
  print("Hello", number)

In [7]:
call_10_times(print_hello)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

* 다른 함수에서 호출되는 함수를 콜백 함수라고 부름

## 람다

* 짧은 형식으로 함수를 제공

'lambda' 명칭 사용

In [8]:
def call_10_times(func) :
  for i in range(10) :
    func(i)

call_10_times(lambda number: print("Hello", number))

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [9]:
call_10_times(lambda number: return print("Hello", number))

SyntaxError: ignored

* return 키워드 생략

## filter() 함수와 map() 함수

### filter() 함수

In [10]:
def 짝수만(number) :
  return number % 2 == 0

In [11]:
a = list(range(100))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [12]:
b = filter(짝수만, a)

In [13]:
print(b)

<filter object at 0x7fdd3b237438>

In [14]:
for i in b : 
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [15]:
print(list(b))

[]

In [17]:
b = filter(짝수만, a)
print(list(b))
print(list(b))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[]

In [19]:
a = list(range(100))
b = filter(lambda number: number % 2 == 0, a)
print(list(b))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [21]:
짝수만 = lambda number: number % 2 == 0

a = list(range(100))
b = filter(짝수만, a)
print(list(b))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### map() 함수

* 리스트를 기반으로 새로운 리스트를 만들어주는 함수

In [24]:
def 제곱(number) :
  return number * number

a = list(range(100))
print(list(map(제곱, a)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [25]:
a = list(range(100))
print(list(map(lambda number: number * number, a)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

## 리스트 내포와 비교하기

In [26]:
print([i * i for i in a])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

* 리스트 내포를 사용하는 경우 결과로 리스트가 나옴
* 즉 그만큼의 리스트가 하나 더 복제되어 메모리를 차지함

* map(), filter() 함수 등은 제너레이터 함수라서 내부의 데이터가 실제로 메모리에 용량을 차지하지 않음
* 호출이 되기전까지 가상의 값을 가짐