<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/40%EA%B0%95_%EC%A0%9C%EB%84%88%EB%A0%88%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 40강 - 제너레이터

## 제너레이터 공부의 주의사항

* 실제로 만드는 경우는 잘 없음

* 이터레이터를 직접 만들 때 사용하는 구문
* 함수 내부에 yield 라는 키워드가 포함되면 해당 함수는 제너레이터가 됨

## 일반적인 함수

In [1]:
def 함수() :
  print("a")
  print("b")

함수()

a
b

## 제너레이터 함수 만들기

In [2]:
def 함수() :
  print("a")
  print("b")
  yield

함수()

## 제너레이터 함수 사용하기

In [6]:
def 함수() :
  print("a")
  print("b")
  yield 100

next(함수)

TypeError: ignored

In [7]:
def 함수() :
  print("a")
  print("b")
  yield 100

next(함수())

a
b

100

## yield 키워드로 값 전달하기

In [8]:
def 함수() :
  print("a")
  print("b")
  yield 100

val_yield = next(함수())
print(val_yield)

a
b
100

## yield 키워드로 양보하기

In [9]:
def 함수() :
  print("a")
  yield 100
  print("b")
  yield 200
  print("c")
  yield 300
  print("d")
  yield 400

val_yield = next(함수())
print(val_yield)

a
100

In [14]:
def 함수() :
  print("a")
  yield 100
  print("b")
  yield 200
  print("c")
  yield 300
  print("d")
  yield 400

val_yield = 함수()
print(val_yield)

val_yield = 함수()
next(val_yield)
print(val_yield)

val_yield = 함수()
next(val_yield)
next(val_yield)
print(val_yield)

val_yield = 함수()
next(val_yield)
next(val_yield)
next(val_yield)
print(val_yield)

<generator object 함수 at 0x7f62e1240db0>
a
<generator object 함수 at 0x7f62e1240d58>
a
b
<generator object 함수 at 0x7f62e1240db0>
a
b
c
<generator object 함수 at 0x7f62e1240d58>

## for 반복문과 조합하기

In [15]:
def 함수() :
  print("a")
  yield 100
  print("b")
  yield 200
  print("c")
  yield 300
  print("d")
  yield 400

val_yield = 함수()

for i in val_yield :
  print(i)

a
100
b
200
c
300
d
400

In [16]:
def 함수() :
  print("a")
  yield 100
  print("b")
  yield 200
  print("c")
  yield 300
  print("d")
  yield 400

val_yield = 함수()

for i in val_yield :
  print(i)
for i in val_yield :
  print(i)

a
100
b
200
c
300
d
400

## 제너레이터는 이터레이터로 reversed와 비슷

In [17]:
numbers = [1, 2, 3, 4, 5]
print(reversed(numbers))

<list_reverseiterator object at 0x7f62e11c09e8>

In [18]:
numbers = [1, 2, 3, 4, 5]
for i in reversed(numbers) :
  print(i)

5
4
3
2
1

In [19]:
numbers = [1, 2, 3, 4, 5]
revers_num = reversed(numbers)

for i in revers_num:
  print(i)

for i in revers_num:
  print(i)

5
4
3
2
1

## reversed 함수 구현

In [20]:
def 반전(리스트) :
  for i in range(len(리스트)) :
    yield 리스트[-i - 1]

제너레이터 = 반전([1, 2, 3, 4, 5])

for i in 제너레이터 : 
  print(i)

5
4
3
2
1

* 함수를 호출하는 순간에 내부의 코드가 실행되는 것이 아니고
* 반복문 등에서 활용할 때 내부의 코드가 실행되므로
* 지연 로드(Lazy Load) 등을 할 때도 활용

## 확인문제 1번

In [22]:
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(pass))

print("1::2::3::4::5::6")

SyntaxError: ignored

In [23]:
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(numbers))

TypeError: ignored

In [24]:
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(int(numbers)))

TypeError: ignored

In [37]:
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(str(numbers)))

[::1::,:: ::2::,:: ::3::,:: ::4::,:: ::5::,:: ::6::]

In [39]:
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(map(str, numbers)))

1::2::3::4::5::6

## 확인문제 2번

In [43]:
numbers = list(range(1, 10 + 1))

print("# 홀수만 추출")
print(list(filter(lambda number: number % 2 == 1, numbers)))
print()

print("# 3 이상 7 미만 추출")
print(list(filter(lambda number: 3 <= number < 7, numbers)))
print()

print("# 제곱해서 50 미만 추출")
print(list(filter(lambda number: (number ** 2) < 50, numbers)))
print()

# 홀수만 추출
[1, 3, 5, 7, 9]

# 3 이상 7 미만 추출
[3, 4, 5, 6]

# 제곱해서 50 미만 추출
[1, 2, 3, 4, 5, 6, 7]