<a href="https://colab.research.google.com/github/anew0m/Book_Python-Basic/blob/main/study_code/47%EA%B0%95_%ED%8A%B9%EC%9D%B4%ED%95%9C_%EC%9D%B4%EB%A6%84%EC%9D%98_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 47강 - 특이한 이름의 함수

## __str__() 함수

In [2]:
class Student :
  def __str__(self) :
    return "문자열"


  def __init__(self, 이름, 나이) :
    print("객체가 생성되었습니다.")
    self.이름 = 이름
    self.나이 = 나이

  def __del__(self) :
    print("객체가 소멸되었습니다.")
  
  def 출력(self) :
    print(self.이름, self.나이)



student = Student("정민호", 20)
student.출력()
print(str(student))

객체가 생성되었습니다.
객체가 소멸되었습니다.
정민호 20
문자열

In [6]:
class Student :
  def __str__(self) :
    return "{}  {}".format(self.이름, self.나이)
  
  def to_string(self) :
    return "{}  {}".format(self.이름, self.나이)

  def __init__(self, 이름, 나이) :
    print("객체가 생성되었습니다.")
    self.이름 = 이름
    self.나이 = 나이

  def __del__(self) :
    print("객체가 소멸되었습니다.")
  
  def 출력(self) :
    print(self.이름, self.나이)



student = Student("정민호", 20)

print(str(student))
print(student.to_string())

객체가 생성되었습니다.
객체가 소멸되었습니다.
정민호  20
정민호  20

## 비교 연산자의 영어 표현

같다
* eq
* equal

다르다
* ne
* not equal

크다 / 작다
* gt / lt
* greater than / less than

크거나 같다 / 작거나 같다
* ge(=gte) / le(=lte)
* greater than or equal / less than or equal

In [8]:
class Student :
  def __init__(self, 이름, 나이) :
    print("객체가 생성되었습니다.")
    self.이름 = 이름
    self.나이 = 나이
  
  def __eq__(self, other) :
    print("eq() : ")
  def __ne__(self, other) :
    print("ne() : ")
  def __gt__(self, other) :
    print("gt() : ")
  def __ge__(self, other) :
    print("ge() : ")
  def __lt__(self, other) :
    print("lt() : ")
  def __ge__(self, other) :
    print("ge() : ")



student = Student("정민호", 20)

student == student
student != student
student >  student
student >= student
student <  student
student <= student

print("-" * 10)

print(student == student)
print(student != student)
print(student >  student)
print(student >= student)
print(student <  student)
print(student <= student)

객체가 생성되었습니다.
eq() :
ne() :
gt() :
ge() :
lt() :
ge() :
----------
eq() :
None
ne() :
None
gt() :
None
ge() :
None
lt() :
None
ge() :
None

In [9]:
class Student :
  def __init__(self, 이름, 나이) :
    print("객체가 생성되었습니다.")
    self.이름 = 이름
    self.나이 = 나이
  
  def __eq__(self, other) :
    print("eq() : ")
    return (self.나이 == other.나이) and (self.이름 == other.이름)
  def __ne__(self, other) :
    print("ne() : ")
    return (self.나이 != other.나이) and (self.이름 != other.이름)
  def __gt__(self, other) :
    print("gt() : ")
    return (self.나이 > other.나이) and (self.이름 > other.이름)
  def __ge__(self, other) :
    print("ge() : ")
    return (self.나이 >= other.나이) and (self.이름 >= other.이름)
  def __lt__(self, other) :
    print("lt() : ")
    return (self.나이 < other.나이) and (self.이름 < other.이름)
  def __ge__(self, other) :
    print("ge() : ")
    return (self.나이 <= other.나이) and (self.이름 <= other.이름)



student = Student("정민호", 20)

student == student
student != student
student >  student
student >= student
student <  student
student <= student

print("-" * 10)

print(student == student)
print(student != student)
print(student >  student)
print(student >= student)
print(student <  student)
print(student <= student)

객체가 생성되었습니다.
eq() :
ne() :
gt() :
ge() :
lt() :
ge() :
----------
eq() :
True
ne() :
False
gt() :
False
ge() :
True
lt() :
False
ge() :
True